@import "tailwindcss";

.dashboard-button {
  @apply rounded-lg bg-blue-600 px-4 py-2 text-white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}